@model XpartHouse.Models.Contacto

@{
    ViewBag.Title = "Edit";
    ViewBag.usuarios = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-user"></i> Editar</h1>
        <p>Edici&oacute;n de los datos del usuario</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <form method="post" action="/Usuario/Actualizar" id="frmUsuario" data-bind="submit: actualizarUsuario">
                <div class="row">
                    @Html.HiddenFor(model => model.IdContacto)
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.IdRol, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("IdRol", null, htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="form-group col-12">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/usuario/editar.js"></script>
}